#sponsors > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  display: block;
  max-width: 20vmin;
  height: auto;
  align-self: center;
  padding: 10px;
}

.logo > img {
  width: 100%;
  height: auto;
}

.inflow_logo_holder {
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
}

.inflow_logo {
  height: 70px;
  cursor: pointer;
}

#must-have-logos {
  display: flex;
  justify-content: space-around;
}

#must-have-logos > img {
  height: 50px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #must-have-logos > img {
    height: 25px;
  }
}

@media (max-width: 700px) {
  #must-have-logos {
    flex-direction: column;
    align-items: center;
  }
  #must-have-logos > img {
    height: 40px;
    margin-bottom: 20px;
  }
  #must-have-logos > img:last-of-type {
    margin: 0;
  }
}
