section {
  margin: 5rem auto;
}

#solar_decathlon {
  max-width: 700px;
}

.section__title {
  color: #d90000;
  text-align: center;
}

.solar__grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem 2rem;
  margin-bottom: 2rem;
}

.solar__grid1 {
  grid-area: 1 / 1 / 1 / 3;
}

.solar__grid2 {
  grid-area: 1 / 3 / 3 / 3;
}

.solar__grid3 {
  grid-area: 2 / 1 / 4 / 1;
}

.solar__grid4 {
  grid-area: 3 / 2 / 3 / 4;
}

.solar__grid > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.solar__imagerow {
  display: flex;
}

.solar__imagerowcontainer {
  flex: 1;
  padding: 1rem;
}

.solar__imagerowcontainer > img {
  width: 100%;
}

#contactrow {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.footerimg {
  max-width: 100px;
  min-width: 100px;
}

.social {
  text-align: center;
  width: 30vw;
}

#patron {
  padding: 2rem;
  margin: 10rem 0rem;
  width: 100%;
  position: relative;
}

#patron__bg {
  background-image: url("/content/patron/pattern_005.png");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .85;
  background: #1C1D21;
}

#patron > * {
  margin-left: auto;
  margin-right: auto;
}

#patron__header,
#patron > h3 {
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: content-box;
  color: white;
}

#patron__header__wrap {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

#patron__header {
  display: inline;
  font-family: Akkurat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

#patron > #become {
  max-width: 320px;
  width: 25vw;
  min-width: 160px;
}

#patron > #become > img {
  width: 100%;
}

button:focus {
  outline: 0 !important;
}

#sponsors {
  width: 40%;
  margin: auto;
}

#sponsors > * {
  margin-bottom: 2rem;
}

#sponsors > #main > a {
  max-width: none;
}

#sponsors > #main > a > img {
  height: 300px !important;
  width: auto;
}
