#team_cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.card {
  background-color: hotpink;
  border-radius: 10px;
  box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 400px;
  margin: 1rem;
}

.card > *:not(:last-child) {
  margin-bottom: 20px;
}

.card > .upper,
.card > .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card > .lower > img,
.card > .upper > img {
  height: 70px;
}
