#team_cards {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#team_cards > * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.card {
  border-radius: 30px !important;
  border: none !important;
  box-shadow: var(--shadow);
  padding: 1.5rem 0;
  margin: 1rem 0;
  width: 40%;
}

.card > *:not(:last-child) {
  margin-bottom: 20px;
}

.division > .top,
.member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.division > .member {
  justify-content: flex-start;
}

.member > h2 {
  margin-left: 25px;
}

.member > img {
  max-width: 100px;
  border-radius: 1000px;
}

.member > h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.division > .top > img {
  max-width: 200px;
}

@media (max-width: 1200px) {
  #team_cards > * {
    flex-direction: column;
  }

  .card {
    width: 70%;
  }
}

@media (max-width: 900px) {
  #team_cards > * {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .division > .top > img {
    max-width: 75px;
  }

  .division > .top > h2 {
    font-size: 1.25rem;
  }

  .member > img {
    max-width: 70px;
  }

  .member > h2 {
    font-size: 1rem;
  }
}
